
<div class="cmp-container" #cmpcontainer >
    <div class="header">
        <button nz-button nzType="link" (click)="createPreviewModal()">预览</button>
        <button nz-button nzType="link" (click)="createComponentModal()">生成json</button>
        <button nz-button nzType="link" (click)="createInputModal()">导入json</button>
    </div>
    <div (click)= "handleClick($event)" dragula="CARD"  [(dragulaModel)]="reactiveContainerService.cmpJsonConfig" class="tpl-container" >
        <ng-template cmpReactive></ng-template>
    </div>
</div>