.cmp-card:hover{
    background: #ecf5ff;
    outline: 1px solid #409EFF;
    outline-offset: 0px;
}
.cmp-card{
    width: 100%;
    margin:2px auto;
    min-height: 40px;
    position: relative;
    height: 80px;
    border: 1px dashed rgba(170, 170, 170, 0.7);
    background-color: rgba(236, 245, 255, 0.3);
    margin: 2px;
    .mask{
        width: 100%;
        height: 100%;
       
        position: absolute;
        left: 0;
        top: 0;
        a{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .active{
        outline: 2px solid #409EFF;
        border: 1px solid #409EFF;
    }
}